* {
  margin: 0;
  padding: 0px;
}
#container-nav {
  max-width: 1920px;
  background-color: #0060b1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards-nav {
  width: 320px;
  display: flex;
}
.cards-nav h1,
input {
  margin: 15px;
}
input {
  width: 50%;
  height: 25px;
  border-radius: 20px;
  padding: 5px;
  font-size: 17px;
}
.cards-nav h1 {
  color: rgb(255, 255, 255);
}
.login {
  display: flex;
  align-items: center;
  width: 150px;
  color: white;
  margin: 10px;
  text-decoration: none;
}
.login i {
  font-size: 40px;
}
.cards-nav i {
  color: rgba(255, 255, 255, 0.672);
}
.boxicons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxicons i {
  margin: 12px;
  font-size: 22px;
}
.boxiconsi i,
.login,
.cards-nav i:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

@media (max-width: 810px) {
  #container-nav input {
    display: none;
  }
  .login {
    display: flex;
    width: 90px;
  }
}
@media (max-width: 430px) {
  .cards-nav h1 {
    font-size: 10px;
  }
}
